<div id="content" class="clearfix">
  <div class="fluid-half-column clearfix">
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/me.jpg" alt="My photo" title="My photo"/> Alessandro Dal Grande
        </div>
        <div class="timeline-text clearfix">
          <div class="contacts clearfix">
            <div class="single-contact">
              <a href="mailto:adgror@gmail.com">
                <img src="img/social/email-dice.png"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://twitter.com/aledalgrande" target="_blank">
                <img src="img/social/twitter-dice.png"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://uk.linkedin.com/in/alessandrodalgrande" target="_blank">
                <img src="img/social/linkedin-dice.png"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="https://github.com/aledalgrande" target="_blank">
                <img src="img/social/github-dice.png"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://aledalgrande.posterous.com/" target="_blank">
                <img src="img/social/link-dice.png"/>
              </a>
            </div>
          </div>
          <div class="clearfix">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          Loves
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          Skills
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
  <div class="fluid-half-column clearfix spine">
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>Your company?</span>
        </div>
        <div class="timeline-date">
          August 2012 - Future
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/bbc-olympics.jpg" alt="BBC The Olympic Broadcaster" title="BBC The Olympic Broadcaster"/>
          <span>BBC Future Media</span>
        </div>
        <div class="timeline-date">
          September 2011 - August 2012
        </div>
        <div class="timeline-text">
          Cross functional role, Developer In Test and Test Lead and Planner for the Olympics project, first for A/V only, now for all the workstreams in Digital 2012. This includes coding (Ruby mainly), testing, reporting, presenting, planning, coordinating teams, building acceptance criteria and setting my own agenda to use any mean to deliver this epic proposition.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">1 people from this company recommended me</a>
        </span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/bbc-radio-1.jpg" alt="BBC Radio 1" title="BBC Radio 1"/>
          <span>BBC Music Interactive</span>
        </div>
        <div class="timeline-date">
          June 2012
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/good-for-nothing.jpg" alt="Good For Nothing" title="Good For Nothing"/>
          <span>Open Labs</span>
        </div>
        <div class="timeline-date">
          May 2012
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>officialdaniels.com</span>
        </div>
        <div class="timeline-date">
          April 2012
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/recycleopedia.jpg" alt="Recycleopedia" title="Recycleopedia"/>
          <span>recyleopedia</span>
        </div>
        <div class="timeline-date">
          August 2012 - Ongoing
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/appfly.jpg" alt="Appfly" title="Appfly"/>
          <span>Appfly</span>
        </div>
        <div class="timeline-date">
          May 2011 - August 2011
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/truphone.jpg" alt="Truphone" title="Truphone"/>
          <span>Truphone</span>
        </div>
        <div class="timeline-date">
          June 2010 - May 2011
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">2 people from this company recommended me</a>
        </span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/develon.jpg" alt="Develon" title="Develon"/>
          <span>Develon</span>
        </div>
        <div class="timeline-date">
          May 2009 - April 2010
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">2 people from this company recommended me</a>
        </span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>Serenissima Communication</span>
        </div>
        <div class="timeline-date">
          October 2007 - April 2008
        </div>
        <div class="timeline-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">1 people from this company recommended me</a>
        </span>
      </div>
    </div>
  </div>
</div>