<div id="content" class="clearfix">
  <h2>Highlights</h2>
  <div id="highlights" class="clearfix">
    <div id="highlights-overflow" class="clearfix">
      <div class="highlight">
        <a href="#bbc-future-media">
          <img src="img/highlight-1.jpg" alt="highlight 1"/>
          <div class="highlight-description">
            Olympic experience
          </div>
        </a>
      </div>
      <div class="highlight">
        <a href="#recycleopedia">
          <img src="img/highlight-2.jpg" alt="highlight 2"/>
          <div class="highlight-description">
            Lean coding
          </div>
        </a>
      </div>
      <div class="highlight new-line">
        <a href="#good-for-nothing">
          <img src="img/highlight-3.jpg" alt="highlight 3"/>
          <div class="highlight-description">
            Focus on customers
          </div>
        </a>
      </div>
      <div class="highlight">
        <a href="#bbc-future-media">
          <img src="img/highlight-4.jpg" alt="highlight 4"/>
          <div class="highlight-description">
            Continuous innovation
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <h2>Character</h2>
  <div class="fluid-half-column clearfix">
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/me.jpg" alt="My photo" title="My photo"/> Alessandro Dal Grande
        </div>
        <div class="timeline-text clearfix">
          <div class="contacts clearfix">
            <div class="single-contact">
              <a href="mailto:adgror@gmail.com">
                <img src="img/social/email-dice.png" alt="mail"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://twitter.com/aledalgrande" target="_blank">
                <img src="img/social/twitter-dice.png" alt="twitter"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://uk.linkedin.com/in/alessandrodalgrande" target="_blank">
                <img src="img/social/linkedin-dice.png" alt="linkedin"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="https://github.com/aledalgrande" target="_blank">
                <img src="img/social/github-dice.png" alt="github"/>
              </a>
            </div>
            <div class="single-contact">
              <a href="http://aledalgrande.posterous.com/" target="_blank">
                <img src="img/social/link-dice.png" alt="blog"/>
              </a>
            </div>
          </div>
          <div class="clearfix">
            Since I'm working as a freelance I realised my strength is not specialising in a technology or a field, but working across all of them, picking up things I never did fast and mixing seemingly unconnected worlds to find new solutions.<br/>
            There is a reason why I've become a full stack dev from being a backend dev, why I've become a developer in test, why people asked me to take part in product definitions or op tasks or project management, why I push for better UX and value, why I've managed to change things that were stuck for years in big corps on which everybody else had given up.<br/>
            And it's a bit romantic.<br/>
            I never stop where I am. I continuously move, like the wind.
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          Loves
        </div>
        <div class="timeline-text">
          <strong>Innovation 10</strong><br/>
          <strong>Creativity 10</strong><br/>
          <strong>Agile mindset 9</strong><br/>
          <strong>Learning 9</strong><br/>
        </div>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          Skills
        </div>
        <div class="timeline-text">
          <strong>Backend development 9</strong><br/>
          <strong>Frontend development 7</strong><br/>
          <strong>Visual design 6</strong><br/>
          <strong>UX design 7</strong><br/>
          <strong>Project management 6</strong><br/>
          <strong>Testing 8</strong><br/>
          <strong>Product definition 8</strong><br/>
        </div>
      </div>
    </div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          Languages
        </div>
        <div class="timeline-text">
          <strong>British English 8</strong>: &laquo;<i>The boy and the girl went down the apples and pears to find the cat was hiding between the chairs.</i>&raquo;<br/>
          <strong>Italian 9</strong>: &laquo;<i>Non vorrei suonare troppo affettato, ma chi è erudito conosce sicuramente l'autore della filosofia del Giusto Mezzo.</i>&raquo;<br/>
          <strong>Spanish 7</strong>: &laquo;<i>Lo que pasa es que hecho de menos a España y seguro una parte de mi corazon siempre sera hispanica.</i>&raquo;<br/>
          <strong>Japanese 4</strong>: &laquo;<i>Ore wa Aresandoro desu, yoroshiku! Daijoubu desu ka, Akira-kun?</i>&raquo;<br/>
          <strong>French 5</strong>: &laquo;<i>Je suis desole mon ami, je ne parle tres bien pas.</i>&raquo;<br/>
        </div>
      </div>
    </div>
  </div>
  <h2>History</h2>
  <div class="fluid-half-column clearfix spine">
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>Your company?</span>
        </div>
        <div class="timeline-date">
          August 2012 - Future
        </div>
        <div class="timeline-text">
          I'd love to get working together to create with you an awesome product! Please contact me using one of the contact options in my description box.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="bbc-future-media">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/bbc-olympics.jpg" alt="BBC The Olympic Broadcaster" title="BBC The Olympic Broadcaster"/>
          <span>BBC Future Media</span>
        </div>
        <div class="timeline-date">
          September 2011 - August 2012
        </div>
        <div class="timeline-text">
          I was hired as a Developer In Test for the Olympics, but my roles were much more varied:<br/>
          <ul>
            <li>
              "bridge" person: my first task was to learn everything from a testing role of a leaving employee in 2 weeks; I then trained two new hires in the business domain and Ruby and Cucumber as well; I participated to the Agile practices and sometimes challenged the approach of the team to improve it;
            </li>
            <li>
              test lead for A/V: understanding what to test came before the real test automation with Cucumber; I wrote several user stories discussing with all the product managers involved and then collaborated with many testers, project managers, product managers and developers of the teams of the audio/video workstream for the Olympics to find and fix issues; my innate ability to break and mess up things came handy in this role, as I found some very niche bugs with exploratory testing;
            </li>
            <li>
              test lead for 2012: when the need arose, I was asked to bring on the lead and previous work for all the 7 workstreams in the Digital 2012 project of BBC Future Media; at this level I challenged with success the programme team to shift to a more agile mindset and visualise the acceptance criteria that were summarised together with other domain experts;
            </li>
            <li>
              presenter: as I continuously learnt about the domain from experts, I started to become one of the reference point for the end-to-end workflows for the Olympics; I gave a couple of presentations to seniors and juniors to share the knowledge I gathered so far;
            </li>
            <li>
              support and ops: part of working in 2012 was support to other teams or external companies in setting up simulations to allow them to test their own products; I was also involved in ops: hot-fixes of data in production systems during some minor sport events, when we were in the beta phase with the products; finally I fought a long battle against corporate politics as one of the stakeholders to have a proper testing environment and had a victory thanks to one of the best agile approaches I've seen: an ad-hoc team of experts with a strong sponsor and continuous communication;
            </li>
            <li>
              developer: generally writing Cucumber scenarios and scripts to automate tests, I started to reuse my scripts and some of them became popular in other teams to automate tasks; collaborated with other testers to write internal gems to facilitate popular workflows; I wrote a monitoring app with Sinatra to lift some of the support commitments from me and the 2012 Integration Testing team as people could check themselves the simulations from it, then I upgraded it to become a tool to use for ops on production during the real Olympics;
            </li>
            <li>
              innovator: being a supporter of Kaizen even before knowing the term, I participated in groups trying to greatly improve the vision and approach of BBC Future Media, I enjoyed talks of external experts coming to BBC and in general tried to help when there was the chance of improving something.
            </li>
          </ul>
          This experience has changed me massively for the number of roles and people I was involved with and most of all gave me a greatly improved vision on products.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="bbc-music-interactive">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/bbc-radio-1.jpg" alt="BBC Radio 1" title="BBC Radio 1"/>
          <span>BBC Music Interactive</span>
        </div>
        <div class="timeline-date">
          June 2012
        </div>
        <div class="timeline-text">
          Volunteered for BBC Hackney Weekend and worked with an exciting team in BBC New Broadcasting House in W1, to create and upload content on BBC's website as the event went on.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="good-for-nothing">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/good-for-nothing.jpg" alt="Good For Nothing" title="Good For Nothing"/>
          <span>Open Labs</span>
        </div>
        <div class="timeline-date">
          May 2012
        </div>
        <div class="timeline-text">
          I went to this crazy hackaton to help with the fight against cancer, organised with Cancer Research as a patron, and in less than two days amazing results were produced. My team went for a game that helps researchers in classifying samples.<br/>
          I helped with:
          <ul>
            <li>
              visual design;
            </li>
            <li>
              UX clarity;
            </li>
            <li>
              specification by example with user stories.
            </li>
          </ul>
          It was very touching to hear stories from people that fought against cancer and won.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="officialdaniels">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>officialdaniels</span>
        </div>
        <div class="timeline-date">
          April 2012
        </div>
        <div class="timeline-text">
          My first project with NodeJS and Express, I also used the approach of <i>mobile first</i> and took leverage of geolocation from modern browsers to build the DJ website for my brother (it's still needing the desktop version).
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="recycleopedia">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/recycleopedia.jpg" alt="Recycleopedia" title="Recycleopedia"/>
          <span>recyleopedia</span>
        </div>
        <div class="timeline-date">
          August 2011 - Ongoing
        </div>
        <div class="timeline-text">
          A Rails 2.1 project on Heroku which was the most challenging as the code was previously poorly written but the site was already live:
          <ul>
            <li>
              added new functional features;
            </li>
            <li>
              migrated to Rails 2.3 then 3.0.x then 3.2;
            </li>
            <li>
              started BDD, that means training a non-technical client to write user stories and understand their value; then implement them with Cucumber and Ruby;
            </li>
            <li>
              switched the search engine from custom SQL for MySQL/Postgres (Argh™) to ElasticSearch;
            </li>
            <li>
              removed a lot of custom legacy code that was implemented more efficiently by popular gems;
            </li>
            <li>
              optimised performance of page loading by reducing number and duration of queries;
            </li>
            <li>
              integrated the GoogleMaps JS API more efficiently;
            </li>
            <li>
              improved Heroku bundle management, which resulted in client's money saved.
            </li>
          </ul>
          I still accept to work on this product while having my own and my main client's because I support the socially useful cause of this startup.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="appfly">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/appfly.jpg" alt="Appfly" title="Appfly"/>
          <span>Appfly</span>
        </div>
        <div class="timeline-date">
          May 2011 - August 2011
        </div>
        <div class="timeline-text">
          Full stack developer:
          <ul>
            <li>
              Ruby on Rails backend development;
            </li>
            <li>
              server administration with Capistrano and Passenger;
            </li>
            <li>
              JS with jQuery for Ajax loading and animations;
            </li>
            <li>
              CSS styles with Less/Sass.
            </li>
          </ul>
          Between the other things, I worked with Solr, RabbitMQ and Rails 2.x, 3.0.x and 3.1 on a number of different projects.
        </div>
      </div>
      <div class="timeline-recommend">
        <span></span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="truphone">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/truphone.jpg" alt="Truphone" title="Truphone"/>
          <span>Truphone</span>
        </div>
        <div class="timeline-date">
          June 2010 - May 2011
        </div>
        <div class="timeline-text">
          Committed to SVN the very first day of work :-) and as I push for BDD, after a month I have created a PHP BDD microframework (not public) that resembles Ruby's Cucumber.<br/>
          Worked with PHP, Perl, Ruby and Bash.<br/>
          Ported some projects to Continuous Integration with Hudson for the first time in the company and tried to automate the rest of the delivery process and involve the rest of the department.<br/>
          Also involved and very interested in process changes towards Agile.
          Contributed in my spare time to cuke4php (PHP bridge to Cucumber).
          Achievements apart from normal work:
          <ul>
            <li>
              introduced automated unit tests;
            </li>
            <li>
              introduced TDD;
            </li>
            <li>
              started Continuous Integration;
            </li>
            <li>
              invited one of the best Agile coaches in UK to the company;
            </li>
            <li>
              built a database abstraction layer;
            </li>
            <li>
              introduced pair programming;
            </li>
            <li>
              introduced automated integration tests.
            </li>
          </ul>
          Nearly none of this was requested externally or by my role spec.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">2 people from this company recommended me</a>
        </span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="develon">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/develon.jpg" alt="Develon" title="Develon"/>
          <span>Develon</span>
        </div>
        <div class="timeline-date">
          May 2009 - April 2010
        </div>
        <div class="timeline-text">
          Development of Web applications.<br/>
          Integration of banking systems, creation of communication management systems, online booking systems, ecommerce systems, database management systems and even distributed systems communicating via REST calls.
          I took part in the development of the following Ruby gems (you can find them on Github):
          <ul>
            <li>
              segmented-memcache (fork of memcache to fix multiple memory segments management);
            </li>
            <li>
              validates_as_vat (validator for VAT using the European VIES service);
            </li>
            <li>
              dldap (Rails ORM connecting to LDAP)
            </li>
          </ul>
          Languages/DB: Ruby, PHP, JSP, MySQL, SQLite, JQuery, HTML, CSS<br/>
          Frameworks: Rails, Spring, RSpec<br/>
          Other: JMock, Git, CVS, Tomcat, Thin, Maven, Cargo, Netbeans, Textmate<br/>
          My experience included pair programming, which I enjoy a lot. :-)
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">2 people from this company recommended me</a>
        </span>
      </div>
    </div>
    <div class="timeline-connection">&nbsp;</div>
    <div class="timeline-box" id="serenissima-communication">
      <div class="timeline-content clearfix">
        <div class="timeline-title clearfix">
          <img src="img/companies/default.jpg" alt="Default Image" title="Default Image"/>
          <span>Serenissima Communication</span>
        </div>
        <div class="timeline-date">
          October 2007 - April 2008
        </div>
        <div class="timeline-text">
          Worked during uni to get some cash and experience as well. My work varied from database management to automating tasks with native and Web software to repairing computers.
        </div>
      </div>
      <div class="timeline-recommend">
        <span>
          <a href="#">1 person from this company recommended me</a>
        </span>
      </div>
    </div>
  </div>
</div>