<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
      Alessandro Dal Grande's professional page
    </title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen">
    <script type="text/javascript" src="http://use.typekit.com/gar7vtm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">var _kiq = _kiq || []; _kiq.push(['options', { light: true }]);</script>
    <script type="text/javascript" src="//s3.amazonaws.com/ki.js/40865/7Sm.js" async="true"></script>
  </head>
  <body class="tk-museo-sans">
    <div id="container" class="clearfix">
      <%= yield %>
    </div>
    <% if ENV['RACK_ENV'].eql?('production') %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33404742-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <script type="text/javascript" charset="utf-8">
        var _kiq = _kiq || [];
        var _gaq = _gaq || [];
        _kiq.push(['eventHandler', 'submit', function(){ 
          surveyId = $("[src*='kissinsights.com']").attr("src").match(new RegExp("(id=)([0-9]*)&"))[2];
          for (i = 0; i < $("[class*='ki_question']").length; i++) {
            question = $("[class*='ki_h1']:eq("+i+")");
            question_text = question.text();
            anwser_text = question.find("input:checked[type='radio']").closest("label").text() || question.find("input:checked[type='checkbox']").closest("label").text() || question.find("textarea").val() || question.find("[class*='active'] a").text();
            if (question_text && anwser_text) _gaq.push(['_trackEvent', 'VOC', surveyId, question_text + ' | ' + anwser_text]);
          }
        }]);
      </script>
    <% end %>
  </body>
</html>