<!DOCTYPE html>
<html>
  <head>
    <title>
      Alessandro Dal Grande's professional page
    </title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen">
  </head>
  <body class="tk-museo-sans">
    <div id="container" class="clearfix">
      <%= yield %>
    </div>
    <script type="text/javascript" src="http://use.typekit.com/gar7vtm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>