$red: #802222;
$bright: #F7EDE3;
$black: #000000;
$basic_size: 18px;

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

#wrapper {
	font-family: Helvetica;
	font-size: $basic_size;
	line-height: $basic_size * 1.6;
	background-color: $bright;
	color: $black;
	#introduction {
		text-shadow: 1px 1px 0px #FFFFFF;
		margin: auto;
		width: 1200px;
		height: 706px;
		background-image: url(../images/ale-filtered.png);
		background-repeat: no-repeat;
		#teaser {
			background-image: url(../images/quotes.png);
			background-repeat: no-repeat;
			width: 400px;
			position: relative;
			left: 50%;
			top: 100px;
			text-align: center;
			padding-left: 80px;
			a {
				font-size: 30px;
				line-height: 45px;
				font-weight: bold;	
				color: $red;
			}
			.title {
				font-size: 34px;
				line-height: 51px;
				font-weight: bold;
			}
			.availability {
				font-size: $basic_size - 5;
				line-height: $basic_size;
			}
		}
		#info {
			margin-top: 350px;
			.name {
				font-size: 50px;
				line-height: 60px;
				font-weight: bold;
				text-align: right;
			}
			.description {
				font-size: 40px;
				font-weight: bold;
				text-align: right;
				font-style: italic;
				color: $red;
			}
		}
	}
	#details {
		background-color: $red;
		color: $bright;
		background-image: url(../images/background.jpg);
		background-repeat: repeat-x;
		padding-top: 30px;
		#content {
			margin: auto;
			width: 900px;
			text-shadow: -1px -1px 0px #400000;
			#blablabla {
				background-image: url(../images/white-quotes.png);
				background-repeat: no-repeat;
				padding-left: 65px;
				span.important {
					text-shadow: 1px 1px 0px #B05252;
					font-weight: bold;
					color: $black;
					font-size: $basic_size + 1;
				}
				p a {
					font-weight: bold;	
					text-decoration: underline;
					color: $bright;
				}
			}
			#competencies, #industries {
				ul {
					li {
						padding: 5px;
						width: 290px;
						height: 50px;
						float: left;
						img {
							float: left;
							width: 50px;
							height: 50px;
							margin-right: 15px;
						}
						p {
							margin-top: 12px;
						}
					}
				}
				h2 {
					font-size: 24px;
					line-height: 36px;
					font-weight: bold;
					margin-top: 30px;
					color: $black;
					text-shadow: 1px 1px 0px #B05252;
				}
			}
			#portfolio, #contacts {
				h2 {
					font-size: 24px;
					line-height: 36px;
					font-weight: bold;
					margin-top: 30px;
					color: $black;
					text-shadow: 1px 1px 0px #B05252;
				}
			}
			#footer {
				text-align: center;
				margin-top: 50px;
			}
		}
	}
}