$color1: #802222;
$color2: #F7EDE3;
$color3: #903232;
$black: #000000;
$base: 18px;
$shadow1: #FFFFFF;
$shadow2: #B05252;

html, body {
	height: 100%;
	background-color: $color1;
}

/* float clearing for IE6 */
* html .clearfix{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

#skypedetectionswf {
	position: absolute;
	left: -10px;
	top: 0px;
}

@mixin second {
	font-size: $base + 6;
	line-height: ($base + 6) * 1.5;
	font-weight: bold;
	margin-top: 30px;
	color: $black;
	text-shadow: 1px 1px 0px $shadow2;
}

@mixin highlighted {
	text-shadow: 1px 1px 0px $shadow2;
	font-weight: bold;
	color: $black;
}

@mixin formelem {
	font-family: Helvetica;
	font-size: $base;
	line-height: $base * 1.6;
	width: 500px;
}

#wrapper {
	font-family: Helvetica;
	font-size: $base;
	line-height: $base * 1.6;
	background-color: $color2;
	color: $black;
	#introduction {
		text-shadow: 1px 1px 0px $shadow1;
		margin: auto;
		width: 1200px;
		height: 706px;
		background-image: url(../images/ale-filtered.png);
		background-repeat: no-repeat;
		#teaser {
			background-image: url(../images/quotes.png);
			background-repeat: no-repeat;
			width: 400px;
			position: relative;
			left: 50%;
			top: 100px;
			text-align: center;
			padding-left: 80px;
			a {
				font-size: $base + 12;
				line-height: ($base + 12) * 1.5;
				font-weight: bold;	
				color: $color1;
			}
			.title {
				font-size: $base + 16;
				line-height: ($base + 16) * 1.5;
				font-weight: bold;
			}
			.availability {
				font-size: $base - 5;
				line-height: $base;
			}
		}
		#info {
			margin-top: 350px;
			.name {
				font-size: $base + 22;
				line-height: ($base + 22) * 1.5;
				font-weight: bold;
				text-align: right;
			}
			.description {
				font-size: $base + 12;
				font-weight: bold;
				text-align: right;
				font-style: italic;
				color: $color1;
			}
		}
	}
	#details {
		background-color: $color1;
		color: $color2;
		background-image: url(../images/background.jpg);
		background-repeat: repeat-x;
		padding-top: 30px;
		#content {
			margin: auto;
			width: 900px;
			text-shadow: -1px -1px 0px #400000;
			#blablabla {
				background-image: url(../images/white-quotes.png);
				background-repeat: no-repeat;
				padding-left: 65px;
				span.important {
					@include highlighted;
					font-size: $base + 1;
				}
				p a {
					font-weight: bold;	
					text-decoration: underline;
					color: $color2;
				}
			}
			#competencies, #industries {
				ul {
					li {
						padding: 5px;
						width: 290px;
						height: 50px;
						float: left;
						img {
							float: left;
							width: 50px;
							height: 50px;
							margin-right: 15px;
							border: 1px solid white;
							-moz-box-shadow: -1px -1px 0px $black;
							-webkit-box-shadow: -1px -1px 0px $black;
							box-shadow: -1px -1px 0px $black;
						}
						p {
							margin-top: 12px;
						}
					}
				}
				h2 {
					@include second;
				}
			}
			#portfolio {
				h2 {
					@include second;
				}
				ul {
					li {
						span.important {
							@include highlighted;
							font-size: $base + 1;
						}
						a {
							font-weight: bold;	
							text-decoration: underline;
							color: $color2;
						}
					}
				}
			}
			#contacts {
				h2 {
					@include second;
				}
				ul {
					li {
						cursor: pointer;
						div {
							float: left;
							&.name {
								width: 200px;
								@include highlighted;
							}
							&.directions {
								width: 640px;
								display: none;
							}
						}
						&.active {
							background-color: $color3;
							padding: 15px;
							&.directions p {
								margin: 5px;
							}
						}
						&.twilio img {
							width: 94px;
							height: 94px;
							vertical-align: middle;
						}
						&.skype img {
							width: 111px;
							height: 40px;
						}
						&.email form {
							p.from input {
								@include formelem;
								padding: 3px;
							}
							p.to {
								margin: 5px 0;
								span {
									margin-left: 20px;
								}
							}
							p textarea {
								@include formelem;
								padding: 4px;
								margin-left: 52px;
							}
						}
						&.posterous p a, &.lrug p a {
							font-weight: bold;	
							text-decoration: underline;
							color: $color2;
						}
					}
				}
			}
			footer {
				text-align: center;
				margin-top: 100px;
				vertical-align: bottom;
				img {
					vertical-align: bottom;
					width: 850px;
					height: 194px;
				}
			}
		}
	}
}