<div id="introduction">

	<div id="teaser">
		<p class="title">I bake tasty code</p>
		<p>
			Yes, my code is good and you will like it! It has a taste of business value and it's delivered fast. What are you waiting to try it?
		</p>
		<a href="#contacts">
			Hire me
		</a>
	</div>
	<div id="info">
		<p class="name">Alessandro Dal Grande</p>
		<p class="description">full stack developer</p>
	</div>
</div>

<div id="details">
	<div id="content">
		<div id="blablabla">
			<p>
				Hi, I'm Alessandro, a <span class="important">full stack Web developer</span>. I started programming on my own during high school, with Visual Basic on Windows 98SE. Meh. That's a big jump being working with Ruby and Web now, more than 10 years later, but the outcome for me is the same as when I started: I <span class="important">create something</span>. And something <span class="important">great</span>. 
			</p>
			<p>
				I live in London and work as a freelance Ruby and Rails developer, baking out solutions for my customers. Being a supporter of the Agile principles I like to <span class="important">communicate</span> with people to solve their problems. I use also the best methodologies and technologies of present and future, as long as it is possible, because I think <span class="important">innovation</span> is what makes every day different from the previous one (see this <%= link_to 'video of the mythical Jean-Claude Biver', 'http://liftconference.com/lift11/program/talk/anonymous-importance-innovation', :target => 'blank' %> to see what I mean).
			</p>
			<p>
				I like entrepreneurship, startups, house music, bartending, art, a lot of sports and culture in general!
			</p>
		</div>
		<h2>Competencies</h2>
		<ul>
			<li>
				Ruby 1.8.x/1.9.x
			</li>
			<li>
				Rails 2.x/3.x
			</li>
		</ul>
		<h2>Industries of expertise</h2>
		<ul>
			<li>
				eCommerce
			</li>
			<li>
				Telephony
			</li>
			<li>
				Social
			</li>
		</ul>
		<h2>Portfolio examples</h2>
		<ul>
			<li>portfolio 1</li>
			<li>portfolio 2</li>
		</ul>
		<div id="contacts">
			<h2>Contacts (click and expand options)</h2>
			<ul>
				<li>
					07522 593913
				</li>
				<li>
					alessandro.dalgrande@gmail.com
				</li>
				<li>
					alessandro.dalgrande
				</li>
				<li>
					http://twitter.com/aledalgrande
				</li>
				<li>
					linkedin
				</li>
				<li>
					vCard
				</li>
				<li>
					LRUG (you can easily spot me there, come for a chat, no obligation!)
				</li>
			</ul>
		</div>
		<div id="footer">
			<img src="" style="height: 100px; width: 850px;" alt="London buildings">
		</div>
	</div>
</div>