$(".email").fadeOut(500);
setTimeout("$('.email').html('<p>Lovely! Your message was sent to my email address adgror@gmail.com.</p><p>I will answer you as soon as possible!</p>', 500).slideDown(200);", 500);