<!DOCTYPE html>
<html>
<head>
	<title>Alessandro Dal Grande</title>
	<%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>
	<%= javascript_include_tag :all, :cache => true %>
</head>
<body>
	<div id="wrapper">
		<%= yield %>
	</div>
</body>
</html>